.blackKey {
    -fx-stroke: gray;
    -fx-stroke-width: 1px;
    -fx-stroke-line-cap: butt;
    -fx-arc-width: 5;
    -fx-arc-height: 5;
    -fx-fill: linear-gradient(from 0% 0% to 0% 100%, black, black 30%, dimgray 87%, white 89%, black 90%);
}

.blackKeyOn {
    -fx-stroke: gray;
    -fx-stroke-width: 1px;
    -fx-stroke-line-cap: butt;
    -fx-arc-width: 5;
    -fx-arc-height: 5;
    -fx-fill: linear-gradient(from 0% 0% to 0% 100%, black, black 50%, dimgray 94%, white 96%, black 97%);
}

.whiteKey {
    -fx-stroke: gray;
    -fx-stroke-width: 1px;
    -fx-stroke-line-cap: butt;
    -fx-arc-width: 5;
    -fx-arc-height: 5;
    -fx-fill: linear-gradient(from 0% 0% to 0% 100%, white, white 88%, dimgray 88.5%, white 89%, black 90%, gray 92%, white 98%);
}

.whiteKeyOn {
    -fx-stroke: gray;
    -fx-stroke-width: 1px;
    -fx-stroke-line-cap: butt;
    -fx-arc-width: 5;
    -fx-arc-height: 5;
    -fx-fill: linear-gradient(from 0% 0% to 0% 100%, white, white 98%, dimgray 98.5%, white 99%, black 100%);
}

.pitchBend {
    -fx-stroke: linear-gradient(from 100% 100% to 0% 0%, #afbdc0, #6d7673 50%, #0a0f0b 51%, #0a0809 100%);
    -fx-stroke-width: 3px;
    -fx-stroke-line-cap: butt;
    -fx-stroke-line-join: bevel;
    -fx-arc-width: 3;
    -fx-arc-height: 3;
    -fx-fill: linear-gradient(from 0% 0% to 100% 100%, #4375a8, #244386 98%);
}

.comLabel {
	-fx-font-size: 12pt;
    -fx-alignment: center;
    -fx-font-weigh: bold;
}

.titleLabel {
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    -fx-font-size: 14pt;
    -fx-alignment: center-right;
    -fx-font-weigh: bold;
}

.keyLabel {
	-fx-font-size: 11pt;
    -fx-alignment: center;
    -fx-font-weigh: bold;
}

.labelScheme1 {
    -fx-background-color: #fff;
}

.labelScheme2 {
    -fx-background-color: #ccc;
}

.labelScheme3 {
    -fx-background-color: #0cc;
}

.labelScheme4 {
    -fx-background-color: #c0c;
}

.labelScheme5 {
    -fx-background-color: #cc0;
}

.labelScheme6 {
    -fx-background-color: #00c;
}

.labelScheme7 {
    -fx-background-color: #c00;
}

.labelScheme8 {
    -fx-background-color: #0c0;
}

.labelScheme9 {
    -fx-background-color: #888;
}

.labelScheme10 {
    -fx-background-color: #000;
}

.labelScheme11 {
    -fx-background-color: #088;
}

.labelScheme12 {
    -fx-background-color: #808;
}

.labelScheme13 {
    -fx-background-color: #880;
}

.labelScheme14 {
    -fx-background-color: #008;
}

.labelScheme15 {
    -fx-background-color: #800;
}

.labelScheme16 {
    -fx-background-color: #080;
}
AnchorPane {
    -fx-background-color: #999;
}
